<h1>Працівники</h1>
<div class="dashboard_list">
  <div class="dashboard_list_head">
    <div class="row align-items-center">
      <div class="col-1">
        ID
      </div>
      <div class="col-3">
        Ім'я
      </div>
      <div class="col-3">
        E-mail
      </div>
      <div class="col-2">
        Телефон
      </div>
      <div class="col-3">
        Посада
      </div>
    </div>
  </div>
  <div class="dashboard_list_body">
    <%= render EmployeeComponent.with_collection(@employees)%>
  </div>
</div>
