<h1>Працівники</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Ім'я</th>
      <th>E-mail</th>
      <th>Телефон</th>
      <th>Посада</th>
    </tr>
  </thead>
  <tbody>
    <%= render EmployeeComponent.with_collection(@employees)%>
  </tbody>
</table>
