<h1>Працівники</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= EmployeeComponent.with_collection(@employees)%>
  </tbody>
</table>
