<h1>Клієнти</h1>
<div class="dashboard_list">
  <div class="dashboard_list_head">
    <div class="row align-items-center">
      <div class="col-1">
        ID
      </div>
      <div class="col-4">
        Ім'я
      </div>
      <div class="col-3">
        E-mail
      </div>
      <div class="col-4">
        Телефон
      </div>
    </div>
  </div>
  <div class="dashboard_list_body">
    <%=render ClientComponent.with_collection(@clients)%>
  </div>
</div>
