<h1>Клієнти</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%=render ClientComponent.with_collection(@clients)%>
  </tbody>
</table>
