section{
  &.gruz{
    ul{
      li{
        position: relative;
        padding-left: 30px;
        &:before{
          content: "";
          background-color: $primary-color;
          width: 15px;
          height: 15px;

          @include radius();
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
    }
  }
  &.form{
    display: flex;
    align-items: center;
    height: calc(100vh - 62px);
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5046393557422969) 50%, rgba(0,0,0,0.5) 100%), url("/cargo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    h2{
      color: $wtext;
    }
  }
}
