<div class="d-flex align-items-center">
  <h1>Накладні</h1>
  <div class="ms-auto">
    <%= link_to "Створити накладну", new_waybill_path, class:"btn add-project"%>
  </div>
</div>
<div class="dashboard_list">
  <div class="dashboard_list_head">
    <div class="row align-items-center">
      <div class="col-1">
        ID
      </div>
      <div class="col-3">
        Cтатус
      </div>
      <div class="col-2">
        Авто
      </div>
      <div class="col-3">
        Замовник
      </div>
      <div class="col-3">
        Виконавець
      </div>
    </div>
  </div>
  <div class="dashboard_list_body">
    <%=render WaybillComponent.with_collection(@waybills)%>
  </div>
</div>
