<nav>

</nav>
<div class="content">

<section>
  header
</section>
<section>
  Про компанію
</section>
<section>
  Послуги
</section>
<section>
  ФОРМА ДЛЯ ПЕРЕВІРКИ СТАТУСУ ВАНТАЖУ
</section>
</div>
<footer>

</footer>
