<h1>Місця</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%=render PlaceComponent.with_collection(@places)%>
  </tbody>
</table>
