<h1>Місця</h1>
<div class="dashboard_list">
  <div class="dashboard_list_head">
    <div class="row align-items-center">
      <div class="col-1">
        ID
      </div>
      <div class="col-6">
        Адреса
      </div>
      <div class="col-5">
        Телефон
      </div>
    </div>
  </div>
  <div class="dashboard_list_body">
    <%=render PlaceComponent.with_collection(@places)%>
  </div>
</div>
